@import "variables";
.month{
    display:none;
}

input[type="checkbox"]:checked ~ .container .month{
    display: block;
    transition: 1s;
}
input[type="checkbox"]:checked ~ .container .anually{
    display: none;
    transition: 1s;
}
.switch {
    position: relative;
    & input{
        opacity: 0;
        width: 0;
        height: 0;
    }
    & .temporada{
        margin-left: 1.5em;
        margin-right: 1em;
    }
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: $linear_gradient_b;
    height: 1.7em;
    width: 3.4em;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
    left: 6.5em;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.7em;
    width: 1.7em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 3;
    right: 1.7em;
}
input:checked + .slider {
    background-color: $linear_gradient_b;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(1.7em);
    -ms-transform: translateX(1.7em);
    transform: translateX(1.7em);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    margin: 0;
}
  
.slider.round:before {
    border-radius: 50%;
}