$mobile: 375px;
$desktop: 1440px;
$linear_gradient_a:#A3A8F0;
$linear_gradient_b:  #696FDD;
$very_light_grayish_blue: #F6F6FE;
$light_grayish_blue: #B3B5C6;
$grayish_blue: #6D708D;
$dark_grayish_blue: #494C5F;
$body_font_size: 15px;
$body_font_family: Montserrat;
$font_weight_tittle: 700;

